.guessTheNumber {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin: 100px 0 0 0;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title,
.result,
.number {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: blue;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    width: 300px;
    height: 50px;
    padding: 0 20px;
    color: blue;
    border: 2px solid blue;
    border-radius: 10px;
    font-size: 18px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.try,
.start,
.restart {
    height: 40px;
    color: white;
    border: 2px solid blue;
    background: blue;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: .4s;
}

.try:hover,
.start:hover,
.restart:hover {
    scale: 1.1;
    background: rgb(0, 0, 143);
    border-color: rgb(0, 0, 143);
}