* {
    margin: 0;
    padding: 0;
}

.calculations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 100px auto;
}

.calculate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.input {
    width: 500px;
    height: 50px;
    padding: 0 20px;
    color: blue;
    border: 2px solid blue;
    border-radius: 10px;
    font-size: 18px;
}

.input::placeholder {
    color: rgba(0, 0, 255, .5);
    padding: 20px 0;
}

.button {
    width: 500px;
    height: 40px;
    color: white;
    border: 2px solid blue;
    background: blue;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: .4s;
}

.button:hover {
    scale: 1.1;
    background: rgb(0, 0, 143);
    border-color: rgb(0, 0, 143);
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: blue;
}

.list {
    list-style: none;
}

.item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: blue;
}